@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
    font-family: 'Kanit', sans-serif;
    background-color: lightskyblue;
    text-align: center;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.733);
}

#txtvel {
    border-radius: 15px;
    border: none;
    padding: 3px;
}

.box {
    background-color: black;
    color: white;
    display: inline-block;
    width: 400px;
    padding: 15px;
    height: 115px;
    border-radius: 20px;
    box-shadow: 2px 2px 0px lightskyblue;
}

button {
    border: none;
    color: black;
    background-color: limegreen;
    width: 100px;
    padding: 5px;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: lightskyblue;
    color: black;
}

.res {
    background-color: white;
    color: black;
    display: inline-block;
    width: 300px;
    padding: 100px;
    height: 95px;
    border-radius: 20px;
    box-shadow: 2px 2px 0px lightskyblue;
    display: none;
}